{% extends "base.html" %}
{% block title %}Contact - KCC{% endblock %}
{% block content %}
<div class="row">
    <div class="box slideInLeft" style="align-self: flex-start; padding: 1rem; background: var(--surface2)">
    <h2>Contact</h2>
    <hr class="fancy-border" />
  </div>
</div>
<section class="contact">
    <address class="box slideInLeft">
        <!-- <h2 class="display-4">Contact</h2>
        <hr class="fancy-border" /> -->
        <a href="{{ url_for('home') }}"><img src="static/img/site/kcc.svg" width="200"
                alt="Kilmacow Community Cleanup Logo"></a>
        <p>Feel free to get in touch using any of the methods below, or please fill out the contact form
            and someone will be in touch</p>
        <ol class="contact-list">
            <li><i class="icon-address"></i><a href="https://goo.gl/maps/Et6N1ZTts42FTnkc8" target="_blank">Upper
                    Kilmacow, Co. Kilkenny</a>
            </li>
            <li><i class="icon-phone"></i><a href="#">+353 12 345 6789</a></li>
            <li><i class="icon-email"></i><a href="#">contact@kcc.ie</a></li>
            <li> 
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-describedby="new-window-message"
                    aria-label="Facebook">
                    <i class="icon-facebook"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-describedby="new-window-message"
                    aria-label="Twitter">
                    <i class="icon-twitter"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-describedby="new-window-message"
                    aria-label="Instagram">
                    <i class="icon-instagram"></i>
                </a>
            </li>
        </ol>
    </address>
    <form id="contactForm" class="box regular-shadow slideInRight" autocomplete="off">
        <ol>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="&#xe90d;" autocomplete="off" autocorrect="off"
                    autocapitalize="none" spellcheck="false" readonly onfocus="this.removeAttribute('readonly');"
                    required />
            </li>
            <li>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="&#xe905;" autocomplete="off" required />
            </li>
            <li>
                <label for="message">Message</label>
                <textarea form="contactForm" type="text" name="message" id="message" placeholder="&#xe90c;" rows="4"
                    required></textarea>
                <p class="formMsg"></p>
            </li>
            <li>
                <button type="submit">SUBMIT</button>
            </li>
        </ol>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/smtp.js') }}" async></script>
<script src="{{ url_for('static', filename='js/contact.js') }}" type="module" async></script>
{% endblock %}