{% extends "base.html" %}
{% block title %}Events - KCC{% endblock %}
{% block content %}

<header class="auxillaryHeader">
  <h1>Events</h1>
</header>

<!-- if user is not logged -->
{% if not session.user %}
<section class="eventIntro">
  <article>
    <p>The Kilmacow Community Clean up group began in 2009 as a response to the litter being dumped
      along the roadside of the village and surrounding areas. It started with two community
      members gathering litter on their daily walk. Over the years the group grew in members and
      eventually evolved into an annual clean up event open to all members of community. Today,
      the KCC organises multiple events and activities throughout the year including, the annual
      spring clean, flower planting days, painting days, river cleaning days and mini projects.
  </p>
  <p>
      The KCC has no formal committee or membership, we consider everyone who participates in
      anyway as equals. The KCC prides itself on its goals of inclusion and participation for as
      many community members from as many diverse backgrounds as possible. All events we organise
      are open to all members of the community, and we welcome new participants at all events.
  </p>

  </article>

  <article>

  </article>

</section>

{% endif %}


{% if length > 0 %}
<section class="events">

      {% for event in events %}
<!-- name, date, attendees, location, type, description-->
      <div class="eventCard is-collapsed">
        <div class="card__inner {{ event.type }}  regular-shadow">
          <ol>
            <li>{{ event.date }}</li>
            <li>{{ event.name }}</li>
          </ol>
          </div>

          <div class="card__expander">
            <ol>
              <li><i class="icon-address"></i><span>{{ event.location }}</span></li>
              <li><i class="icon-clock"></i><span>{{ event.time }}</span></li>
              <li><i class="icon-person"></i><span>{{ event.attendees }}</span></li>
              <li><i class="icon-info"></i><span>{{ event.description }}</span></li>
            </ol>           
          </div>
    </div>
      {% endfor %}

{% else %}
<img class="slideInDown suchEmpty" src="{{ url_for('static', filename='img/events.svg') }}" width="300" loading="lazy" alt="Kilmacow Community CLean Up Logo" />
{% endif %}
</section>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/events.js') }}" type="module" async></script> 
{% endblock %}





