{% extends "base.html" %}
{% block content %}

{% if length > 0 %}


<section class="events"> 
      {% for event in events %}
<!-- name, date, attendees, location, type, description-->
      <div class="eventCard is-collapsed" id="ed">
        <div class="card__inner [ js-expander ]">
            <span>{{ event.name }}</span>
            <i class="fa fa-folder-o"></i>
          </div>

          <div class="card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            {{ event.description }}
          </div>
    </div>
      {% endfor %}

{% else %}
<img class="slideInDown suchEmpty" src="{{ url_for('static', filename='img/site/kcc.svg') }}" width="90" loading="lazy" alt="Kilmacow Community CLean Up Logo" />
{% endif %}
</section>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/events.js') }}" type="module" async></script> 
{% endblock %}





