{% extends "base.html" %}
{% block content %}
    <!-- Header / Home -->
    <header id="header" class="header">
        <section class="header-content">
                            <p>Welcome to the</p>
                            <h1>Kilmacow Community Cleanup Group</h1>
                            <p class="pb-4">We are a community based clean up group based in Kilmacow, South Kilkenny
                            </p>
                            <div class="btn-toolbar">
                                <a href="#about" class="btn btn-outline-primary pull-center white">About Us <i
                                        class="fas fa-angle-right fa-sm"></i></a>
                                <a href="#contact" class="btn btn-outline-primary">Contact Us <i
                                        class="fas fa-angle-right fa-sm"></i></a>
                            </div>
                        </section>
    </header>
{% endblock %}