{% extends "base.html" %}
{% block content %}
    <!-- Header / Home -->
    <header id="header" class="header">
        <section class="header-content">
                            <p>Welcome 
                                {% if session.user %} 
                                back {{ username }} 
                                {% endif %} to the</p>
                            <h2>Kilmacow Community Cleanup Group</h2>  
                            {% if not session.user %}
                            <p>We are a community based clean up group based in Kilmacow, South Kilkenny
                            </p><button class="button">
                            <a href="{{ url_for('login') }}"><i class="icon-sign-in"></i>
                                Log In / Register</a></button>
                            {% else %}
                            <button class="button"><a href="{{ url_for('reports', username=session['user']) }}"><i class="icon-sign-in"></i>
                                View Reports</a></button>
                            {% endif %}

                        </section>
    </header> 
    
    
    {% if not session.user %}

    <section class="eventIntro">
<article>  
    <header class="auxillaryHeader">
        <h1>About</h1>
</header>  

<p>The Kilmacow Community Clean up group began in 2009 as a response to the litter being dumped
                            along the roadside of the village and surrounding areas. It started with two community
                            members gathering litter on their daily walk. Over the years the group grew in members and
                            eventually evolved into an annual clean up event open to all members of community. Today,
                            the KCC organises multiple events and activities throughout the year including, the annual
                            spring clean, flower planting days, painting days, river cleaning days and mini projects.
                        </p>
                        <p>

                            The KCC has no formal committee or membership, we consider everyone who participates in
                            anyway as equals. The KCC prides itself on its goals of inclusion and participation for as
                            many community members from as many diverse backgrounds as possible. All events we organise
                            are open to all members of the community, and we welcome new participants at all events.
                        </p>
                        <p>

                            The efforts of the Kilmacow Community Clean up group has helped the village gain recognition
                            and awards for the community including, overall winners of “category seven – Community
                            Wellbeing” in the IPB Pride of Place awards 2019. Details of the award are available <a
                                href=" https://prideofplace.ie/portfolio-item/category-seven-community-wellbeing/"
                                target="_blank" rel="noopener" aria-describedby="new-window-message"
                                aria-label="opens in new tab">here <i class="fas fa-external-link-alt"></i></a>
                        </p>

        </article>
          <article>
          </article>

    </section>
    {% endif %}
{% endblock %}