{% extends "base.html" %}
{% block title %}KCC{% endblock %}
{% block content %}

<section class="register">
    <article>
    <form id="registerForm" method="POST" action="{{url_for('login')}}" class="regular-shadow slideInRight"
        autocomplete="off">
        <ol>
            <li>
                <h2>Log In</h3>
                <p class="lightText"><a href="{{ url_for('register') }}">No account? <span>Sign Up</span></a></p>
            </li>
            <li><label for="username">Username:</label>
                <input type="text" name="username" id="username" minlength="5" maxlength="15" patern="^[a-zA-Z0-9]{5,15}$" placeholder="&#xe90d;  eg. JoeBloggs1" required autofocus
                    autocomplete="off"/></li>
          
            <li><label for="password">Password:</label>
                <div class="passwordContainer">
                <input type="password" name="password" id="registerPass" minlength="5" maxlength="15" patern="^[a-zA-Z0-9]{5,15}$" placeholder="&#xe913;" required
                    autocomplete="new-password" />
                <i class="icon-eye"></i>
            </div>
            </li>
                        <!-- flash messages credit https://stackoverflow.com/questions/44569040/change-color-of-flask-flash-messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="{{ category }}" id="formMsg">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
            
     
            <li>
                <button type="submit" id="regButton">LOGIN</button>
            </li>
        </ol>
    </form>
</article>

</section>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth.js') }}" type="module" async></script>
{% endblock %}