{% extends "base.html" %}
{% block title %}Reports - KCC{% endblock %}
{% block style %}
<link rel="preload" href="https://unpkg.com/swiper@6.5.0/swiper-bundle.min.css" as="style"
  onload="this.onload=null;this.rel='stylesheet'">
{% endblock %}
{% block content %}
<header class="auxillaryHeader">
  <h1>Reports</h1>
  <p><img src="https://avatars.dicebear.com/api/initials/{{ username }}.svg?radius=50" width="50" />
    <span>{{username}}</span>
  </p>
</header>

<section class="reports">
  {% if length > 0 %}
  {% for report in reports %}

  <article class="regular-shadow" id="{{report._id}}">
      <ul class="reportList">
      <li>
        <h2>Report:<em data-form="report_date">{{report.report_date}}</em></h2>
      </li>
      <li><i class="icon-address"></i>
        <p>
          Location
          <a href="https://www.google.com/maps/search/?api=1&query={{ report.report_lat }}%2C{{ report.report_long }}"
            target="_blank"> <span>(Open in maps &#x2197;)</span></a>
        </p>
      </li>
      <li><i class="icon-info"></i>
        <p data-form="report_desc">{{report.report_desc}}</p>
      </li>
      <li>

        {% for image in report.report_images %}
        <div class="imageHolder">
          <img src="{{ image }}" class="popImage">
        </div>
        {% endfor %}


      </li>
      <li class="flexEnd"><button class="button edit" data-target="{{report._id}}">EDIT</button>
        <button class="button delete" data-target="{{report._id}}">DELETE</button>
      </li>
    </ul>
  </article>

  <div class="show out">
    <div class="img-show">
      <span>X</span>
      <img src="" width="350">
    </div>
  </div>

  <button class="button floating-action-button">
    <i class="icon-pencil"></i>
    <span>CREATE REPORT</span>
  </button>
  {% endfor %}

  {% else %}
  <article>
  <img class="slideInDown suchEmpty" src="{{ url_for('static', filename='img/reports.svg') }}" width="300"
    loading="lazy" alt="No Reports" />
    <button class="button createReport">
      <i class="icon-pencil"></i> 
      <span>Create Report</span>
    </button>
  </article>
  {% endif %}
</section>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/reports.js') }}" type="module" delay></script>
{% endblock %}